*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #f0f0f0;
}
.row{
	margin: 0px;
}
.col-md-12.col-ms-12{
	padding-left: 25%;
	padding-top: 2%
}
#map{
	width: 90%;
	height: 75vh;
	border: 2px solid black;
	margin-top: 3%;
	margin-left: 5%;
}
/* estilos al boton */
button{
	margin: 15px auto;
	padding: 10px 15px;
	color: white;
	background-color: #faae27;
	border: 0px;
	font-weight: 700;
	border-radius: 2px;
	font-family: "Raleway";
	font-size: 15px;
	display: inline-flex;
}
button:hover,button:focus{
	outline: 0px;
}
